<div id="page_wrapper">
  
  <div id="content">
    <h1>Welcome to Post Secret</h1>
    <p>This is a blog for users to post their secrests and share with others.</p>
    <p>Feel free to post a secret you have been needing to get off of your chest.</p>
    <p>Users that are logged in may comment on other users posts.</p>
    <p>Thanks for joining the Post Secret community!</p>
  </div>
</div>